bucket         = "replace-with-your-state-bucket"
key            = "terraform-aws-production-baseline-v2/dev/terraform.tfstate"
region         = "eu-west-2"
dynamodb_table = "replace-with-your-lock-table"
encrypt        = true
